clouds:
  default:
    auth:
      auth_url: {{ OPENSTACK_AUTH_URL }}
      username: {{ OPENSTACK_USERNAME }}
      password: {{ OPENSTACK_PASSWORD }}
      project_name: {{ OPENSTACK_PROJECT_NAME }}
      project_domain_name: {{ OPENSTACK_PROJECT_DOMAIN_NAME }}
      user_domain_name: {{ OPENSTACK_USER_DOMAIN_NAME }}
    region_name: {{ OPENSTACK_REGION_NAME }}
