API_HOST: {{ SCALR_API_HOST }}
API_KEY_ID: {{ SCALR_API_KEY_ID }}
API_SCHEME: {{ SCALR_API_SCHEME }}
API_SECRET_KEY: {{ SCALR_API_SECRET_KEY }}
SSL_VERIFY_PEER: true
accountId: '{{ SCALR_ACCOUNTID }}'
colored_output: false
envId: '{{ SCALR_ENVID }}'
view: json
