{
  "category": {
    "id": {{ SCALR_CATEGORY_ID }}
  },
  "useScalrAgent": false,
  "name": "{{ SCALR_ROLE_NAME }}",
  "deprecated": false,
  "os": {
    "id": "ubuntu-16-04"
  },
  "quickStart": false
}
